footer {
  background: var(--color-base-color-white, #d6d1d1);
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  padding: 40px;
}

footer .content {
  background: var(--color-base-color-white, #d6d1d1);
}

.link-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: calc(25% - 20px);
  margin: 0;
}

.link_name {
  color: var(--color-text-color-text, #363636);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.box ul {
  list-style: none;
  padding: 0;
}

.box li {
  margin: 6px 0;
  list-style: none;
}

.box a {
  text-decoration: none;
  color: var(--color-template-color-secondary, #4d4d4d);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer-line {
  border-top: 1px solid #363636;
  margin: 20px 0;
}

.copyright {
  text-align: center;
  color: #363636;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .link-boxes {
    flex-direction: column;
  }
  
  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}